<%= form_with(model: site_facilitator_allocation) do |form| %>
  <% if site_facilitator_allocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site_facilitator_allocation.errors.count, "error") %> prohibited this site_facilitator_allocation from being saved:</h2>
      <ul>
        <% site_facilitator_allocation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label for="hospital_id">Hospital: </label>
  <%= collection_select(:site_facilitator_allocation, :hospital_id, Hospital.all, :id, :hospital_name, {}, { :multiple => false, :class => "btn btn-outline-dark dropdown-toggle"} ) %>

  </br>
  </br>

  <label for="site_facilitator_id ">Site Facilitator: </label>
  <%= collection_select(:site_facilitator_allocation, :site_facilitator_id, SiteFacilitator.all, :id, :Site_Facilitator_Name, {}, { :multiple => false, :class => "btn btn-outline-dark dropdown-toggle"} ) %>
  </br>
  </br>
  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
  <br>
<% end %>
