<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
      <%= form.select :programme_id, Programme.all.map{|p| [p.programme_code, p.id]},{:prompt => "Select A Programme"} ,{ class: "btn btn-outline-dark dropdown-toggle" }%>
  </div>

  <div class="form-group">
    <%= form.label :enter_group_name%>
    <%= form.text_field :group_name, class:"form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %> |
    <%= link_to 'Back', groups_path, class:"btn btn-outline-primary"%>
  </div>
<% end %>
