<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <!-- dropdown for programmes-->

    <div class="row justify-content-md-center" style="justify-content: center">
      <div class="col-2 text-nowrap">
          <label> <h4> Select Programme </h4> </label>
          <br>
          <select id="programme_select" onchange="set_chosen_programme(this.options[this.selectedIndex].value,this.options[this.selectedIndex].innerHTML)" class="btn btn-primary dropdown-toggle">
          </select>
      </div>
   </div>


           <!-- Populate dropdown or programme select with programmes-->
    
    <% @programmes.each do |programme| %>
      <script >
        select = document.getElementById('programme_select')
        option = document.createElement( 'option' );
        option.value = <%= programme.id %>
        option.text = "<%= programme.programme_code %>";
        select.add( option );
      </script>
    <%end%>
    <br>

    <script>
      var set_chosen_programme = function(programme_id,programme_code){
        programme_field = document.getElementById('group_programme_id') // got this from inspecting page on browser
        programme_field.value = programme_id;
        document.getElementById('group_programme_code').innerHTML = "Current Selected Programme: " + programme_code;
        document.getElementById('group_programme_code').style.fontWeight = "650";
      }
    </script>

    <h5 id="group_programme_code"> </h5>
    <%= form.label :enter_programme_ID %>
    <%= form.text_field :programme_id, class:"form-control" %>

  </div>

  <div class="form-group">
    <%= form.label :enter_group_name%>
    <%= form.text_field :group_name, class:"form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
    <%= link_to 'Back', groups_path, class:"btn btn-outline-primary"%>
  </div>
<% end %>
