<p hidden id="notice" ><%= notice %></p>
<br>
<div style="text-align:center">

<h1>Manage Groups</h1>
<br></br>
<!---Search bar-->

<div class="container-fluid">
  <div class="d-flex justify-content-evenly">
      <%= link_to 'New Group', new_group_path, class:"btn btn-primary", style: "width: 12rem; height: 2.5rem;"  %>
<span style="display:inline-block; width: 10px;"></span>
      <%= link_to 'Group assignments',group_assignments_path,class:"btn btn-primary", style: "width: 12rem; height: 2.5rem;" %>
  </div>
</div>
<br>
<%= search_form_for @q do |f| %>
<div class="d-flex flex-row">

 <%= f.search_field :id_eq ,class:"form-control mr-sm-2" ,placeholder:"Enter Group ID" %>
 <span style="display:inline-block; width: 10px;"></span>
 <%= f.submit class:"btn btn-outline-dark" %>
<% end %>
</div>
<!-- ================-->
</br>





<h1 style = "text-align: center" >Manage Groups</h1>
<br>

<div style="text-align: center"> <!--Div for encapsulating buttons-->
<%= link_to 'Create New Group', new_group_path, class:"btn btn-primary" %>

<%= link_to 'Add Student To Group', new_student_group_path, class:"btn btn-outline-primary" %>
</div> <!--End of div-->

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><h6>Group ID</h6></th>
      <th scope="col"><h6>Group Name</h6></th>
      <th scope = "col"><h6>Programme ID</h6></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.group_name %></td>
        <td><%= group.programme_id %></td>
        <td class="col-2">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Show', group, class:"btn btn-outline-primary" %>
              <%= link_to 'Edit', edit_group_path(group), class:"btn btn-outline-info" %>
              <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
            </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
