<p hidden id="notice" >
  <%= notice %>
</p>

<div class="main-heading">
  <h1>Manage Groups</h1>
</div>

<br></br>

<div style="text-align: center"> <!--Div for encapsulating buttons-->
  <%= link_to 'Create New Group', new_group_path, class:"btn btn-primary" %>
</div> <!--End of div-->

<br>
<br>

<div style="text-align: center;">
    <form action="/groups">
    <label> <h5>Filter By Programme Code</h5> </label>
      <br>
      <select name="programme_id" id="programme_id" onchange="this.form.submit()" class="btn btn-primary dropdown-toggle">
      <%= options = options_from_collection_for_select(Programme.all, 'id', 'programme_code',@current_programme_id) %>
      </select>
    </form>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><h6>Group Name</h6></th>
      <th scope = "col"><h6>Programme Code</h6></th>
      <th scope = "col"><h6>Student Controls</h6></th>
      <th scope = "col"><h6>Group Controls</h6> </th>
    </tr>
  </thead>

  <tbody>
    <% @Groups.each do |group| %>
      <tr>
        <td><%= group.group_name %></td>
        <td><%= group.programme.programme_code %></td>
        <td class="col-2">
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Manage Students', student_groups_path(:group_id => group.id), class:"btn btn-outline-primary" %>
              <%= link_to 'Assign Student', new_student_group_path(:group_id => group.id , :programme_id =>group.programme_id), class:"btn btn-outline-success" %>
            </div>
        </td>

        <td class="col-2">
            <div class="btn-group" role="group" aria-label="Basic example">

              <%= link_to 'Edit Group Details', edit_group_path(group), class:"btn btn-outline-primary" %>
              <%= link_to 'Delete Group', group_path(group), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>

            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
