<p id="notice"><%= notice %></p>

<p>
  <strong>Programme:</strong>
  <%= @group.programme_id %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
