
<br/>
<p id="notice"><%= notice %></p>


<div class="form_card" >
  <div class="card-body">

    <p class="lead"><b>Specialty ID:</b></p>
    <p class="lead"><%= @group.specialty_id %></p>

    <p class="lead"><b>Specialty Name:</b></p>
    <p class="lead"><%= Specialty.find(@group.specialty_id).SpecialtyName%></p>


    <%= link_to 'Edit', edit_group_path(@group), class:"btn btn-outline-dark"%>
    <%= link_to 'Back',groups_path, class:"btn btn-outline-dark" %>

  </div>
</div>

<br/>
