<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_specialty.course_id %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @course_specialty.specialty_id %>
</p>

<%= link_to 'Edit', edit_course_specialty_path(@course_specialty) %> |
<%= link_to 'Back', courses_path %>
