<%# Javascript code for changing the value of the collapsible button from + to - %>
<script>
function ChangeText(strId) {
    if (document.getElementById(strId).innerHTML==="-"){
        document.getElementById(strId).innerHTML = "+";
    }else{
        document.getElementById(strId).innerHTML = "-";
    }
}
</script>
<%# =============================================================================== %>


 </br>
    <style>
        @media (max-width: 576px){
            .dis{
                display:none;
            }
        }

    </style>
 <div class="row flex-column-reverse flex-row">
     
        <div class="w-100" >
        
            <div class="card border-info " style="height: 100%">
            <div class="card-body">
                <h5 class="card-title">Infographics</h5>
                <p class="card-text">Number of Specialties in all Courses</p>
                

                <%# -------------------------------------------------------------------------- %>
                <%# returns number of unique specialties  %>
                <%@totSpecialties=CourseSpecialty.distinct.count(:specialty_id)%> 
                <%# returns unique specialty id's %>
                <%@totSpecialtiesNames= CourseSpecialty.distinct.pluck(:specialty_id)%>
                <%# Client.distinct.pluck(:name) %>

                <%# creating array of labels and data %>
                <%# will store labels %>
                <% @arrThing= Array.new(@totSpecialties,"")%> 

                <%# will store data %>
                <% @arrNum= Array.new(@totSpecialties,0)%>
                
                
               <%# countid to keep track of index of arrays %>
                <% @countid=0%>   

                <%# updating arrThing->:Labels %>
                <%@totSpecialtiesNames.each do |item|%>
                <%@arrThing[@countid]=Specialty.where(:id => item).pluck(:SpecialtyName).first%>
                <% @countid=@countid+1%>
               
                <%end%>
                

                <%# updating arrNum array->data %>
                <% @course_specialties.each do |item| %>
                    <% @countid=0%> 
                        <%@totSpecialtiesNames.each do |i|%>
                            <%if item.specialty_id==i%>
                                <%@arrNum[@countid]= @arrNum[@countid]+1%>
                            <%end%>
                            <% @countid=@countid+1%>
                        <%end%>
                <%end%>

                <%# -------------------------------------------------------------------------- %>
                <%# java script to create pie chart  %>
                <canvas id="myChart" width="150" height="200"></canvas>
                <script>
                        //randomly generates colours 
                        var randomColorGenerator = function () { 
                            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
                        };

                        //array that stores random colours
                        const cols = [];

                        //passes ruby arrays to java script 
                        var LabelArray= <%=@arrThing.to_json.html_safe %>;
                        var DataArray= <%=@arrNum.to_json.html_safe %>;
                        
                        //stores length of data array
                        let len= DataArray.length;

                        //populates data array 
                        for (let i=0;i<len;i++){
                            cols.push(randomColorGenerator());
                        }

                        //creating pie chart 
                        var ctx = document.getElementById('myChart');
                        
                        var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: LabelArray,
                            datasets: [{
                            label: 'Number of specialties',
                            data: DataArray,
                            backgroundColor: cols,
                            borderWidth:0
                           
                            }]
                        },
                        // options: {
                        //     scales: {
                        //     yAxes: [{
                        //         ticks: {
                        //         beginAtZero: true
                        //         }
                        //     }]
                        //     }
                        // }
                        });
                        </script>
                        <%# -------------------------------------------------------------------------- %>

            </div>
            </div>
            </div>
        <br>
   
        <span style="display:inline-block; width: 10px;"></span>
         <div class="w-100">
        
            <div class="card h-100">
            
            <div class="card-body" id="cardBody">
           <!-- Programme Code
            
            <%= collection_select(:course_dashboard, :programme_id, Programme.all, :id, :programme_code, {}, { :multiple => false, :class => "btn btn-outline-dark dropdown-toggle"} ) %>
           -->
            <!-- dropdown for programmes-->
            <form action="/courseDashboard">
            <label> <h5>Select Programme Code</h5> </label>
            <br>
            <select name="programme_id" id="programme_select" onchange="displayCourses(this.options[this.selectedIndex].value)" class="btn btn-primary dropdown-toggle">

            </select>
            </form>
           
           <!-- Populate dropdown or hospital select with hospitals-->
            <% @programmes.each do |programme| %>
            <script >
                select = document.getElementById('programme_select')
                option = document.createElement( 'option' );
                option.value = <%= programme.id %>
                option.text = "<%= programme.programme_code %>";
                select.add( option );
            </script>
            <%end%>


            <br>
            <div id="divCourses">
                <%# The contents here will be dynamically instantiated via JS %>
            </div>

<%# EXPERIMENTING=============================================== %>
<script>
  var displayCourses = function(programme_ID) {
      //remove all previously made buttons on click
      $("#divCourses").children().remove();

    
    var CCount=0;
    //loop through programmes
    <%@programmes_courses.each do |programme_course| %>
       if (programme_ID == "<%= programme_course.programme_id%>") {
           CCount+=1;
             
                <% @dtId=0%>
                <% @courses.each do |course| %>
                    
                   
                    if ("<%=course.id%>" == "<%= programme_course.course_id%>"){
                        
                         <% @dtId=@dtId+1%>

                        //div to contain button + course name
                        var divCourse = document.createElement("div");

                       
                        //create button 
                        var button = document.createElement("button");
                        button.innerHTML="+";
                        button.id="<%=@dtId.to_s%>";

                        button.className="btn btn-primary";
                        $("<%="#"+@dtId.to_s%>").attr("data-toggle", "collapse");
                        $("<%="#"+@dtId.to_s%>").attr("data-target", "<%="#collapseExample"+@dtId.to_s%>" );
                        $("<%="#"+@dtId.to_s%>").attr("aria-expanded", "false");
                        $("<%="#"+@dtId.to_s%>").attr("aria-controls", "collapseExample");

                        button.onclick = function() { //changes + to - and vice versa on click
                           let strId="<%=@dtId.to_s%>";
                            if (document.getElementById(strId).innerHTML==="-"){
                                document.getElementById(strId).innerHTML = "+";
                            }else{
                                document.getElementById(strId).innerHTML = "-";
                            }

                            $("<%="#collapseExample"+@dtId.to_s%>").collapse('toggle')
                        }

                        

                        //add course text next to button
                        var newP = document.createElement("p"); 
	                    var textNode = document.createTextNode("<%= course.CourseDescription %>"); 
                        newP.style.display="inline-block";

                        //TODO: This should become a scalable size depending on screen later
                        newP.style.paddingLeft="5px";
	                    newP.appendChild(textNode);

                         //add button and course name to div
                        divCourse.appendChild(button);
                        divCourse.appendChild(newP);
                       
                        var divOuter = document.createElement("div");
                        divOuter.className="collapse";
                        divOuter.id="<%="collapseExample"+@dtId.to_s%>";
                        divOuter.style.marginBottom="15px";
                        divCourse.appendChild(divOuter);

                        
                        //extra div for styling
                        var divOuter1= document.createElement("div");
                        divOuter1.className="card card-body";
                        divOuter.appendChild(divOuter1);

                    if  ("<%=CourseSpecialty.where(:course_id => course.id).count%>"== "0"){
                        
                        divOuter1.innerHTML="There are no specialties assigned to this course.";

                        divOuter.appendChild(divOuter1);

                    }else{
                        //counter for just displaying purposes
                        var count=0;

                            // <%# Display how many specialties there are  %>
                        // <%# Just grammatical changes here for this if statement- if there is one specialty, state specialty rather than specialties: %>
                        if ("<%= CourseSpecialty.where(:course_id => course.id).count%>"== "1"){
                            divOuter1.innerHTML="There is "+"<%= CourseSpecialty.where(:course_id => course.id).count%>"+" assigned specialty to this course:";
                        }else{
                            
                            divOuter1.innerHTML="There are "+"<%= CourseSpecialty.where(:course_id => course.id).count%>"+" assigned specialties to this course:";
                        }
                        divOuter.appendChild(divOuter1);

                        //add to specialties to collapsible div
                        <% @course_specialties.each do |course_specialty| %>
                            if ("<%=course_specialty.course_id%>"== "<%=course.id%>"){
                                count+=1;
                                var divInner=document.createElement("div");
                                divInner.className="card card-body";
                                divInner.innerHTML=count+". "+"<%=Specialty.where(:id => course_specialty.specialty_id).pluck(:SpecialtyName).first%>";
                                
                                
                                //add to outer div
                            divOuter1.appendChild(divInner);

                            }
                        <%end%>
                    }
    
                        document.getElementById("divCourses").appendChild(divCourse);
                     //   document.getElementById("divCourses").appendChild(divOuter);

                     }
                <%end%>     
       }
    <%end%>
   
  
    //if there are no courses, state it
    if (CCount===0){

        var divNoCourses = document.createElement("div");
        divNoCourses.innerHTML="There are no courses in this programme.";
        document.getElementById("divCourses").appendChild(divNoCourses);
    }
                
  }; //end of function
</script>

<%# EXPERIMENTING=========================================== %>

</div>
<%# card body %>
</div>
<%# card border info %>
</div>
<%# w-25 %>
</div> 
<%# row %>
